*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #131518;
  color: #fff;
  font-family: "Overpass";
  
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 412px;
  height: 416px;  

  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 30px;  

  display: flex;
  flex-direction: column; 
}

@media screen and (max-width: 464px){
  body{
    padding: 0 24px;
  }  
  .card{
    width: 100%;
  }
}

@media screen and (max-width: 420px){
  body{
    padding: 0 10px;
  }
}